section {
    margin-top: 6em;
}

.login {
    width: 100%;
    margin-top: 1em;
}

.head {
    color: #ff4081;
    font-size: 1.5em;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.create {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #ff4081;
}

a:hover {
    color: #3f51b5;
}