<footer style="margin-top: 5em;">
  <div class="container" fxLayout="row"  fxLayoutGap="2em" fxLayoutAlign="center" fxLayout.xs="column">
    <div fxFlex="45%">
      <p>Copyright &copy; 2019<strong> Cleanser.</strong> Designed By Chilaka Chinedu</p>
    </div>
    <div fxFlex="45%" fxLayoutGap="2em" fxLayoutAlign="center">
      <a href="#">
        <fa name="facebook-square" class="fonts"></fa>
      </a>
      <a href="#">
        <fa name="twitter-square" class="fonts"></fa>
      </a>
      <a href="#">
        <fa name="github-square" class="fonts"></fa>
      </a>
    </div>
  </div>
</footer>